@use "../../top/vars" as *;

// Profile popout
.userPopoutOuter_c69a7b {
    position: relative;
}
.userPopoutInner_c69a7b {
    max-height: calc(100vh - $outmost-spacing);

    .banner__68edb {
        mask-image: linear-gradient(black, black 60%, transparent);
    }

    .overlayBackground_c69a7b {
        border-radius: $size-s;
    }
    .profileBadges_f89da9 {
        border-radius: $size-s;
    }
    .role_dfa8b6 {
        border-radius: $size-s;
        border: 0;
    }
    .messageInputContainer_f2c0a8 {
        border: 0;
    }
}

// View profile
.avatarWrapper_f89da9 {
    left: 27px;
    top: 21px;

    // View profile shadow
    .avatarHint_f89da9 {
        border-radius: 50px;

        foreignObject {
            mask: none;
        }
    }
}

// with Nitro theme
.userProfileOuterThemed_c69a7b.userPopoutOuter_c69a7b,
.userProfileOuterThemed_c69a7b.userProfileOuter_c69a7b {
    padding: 0;
}

.userProfileOuterThemed_c69a7b {
    overflow: hidden;

    &.theme-light {
        --channel-text-area-placeholder: rgb(#{$color-background} / 0.5);
        :is(
            .defaultColor_e9e35f,
            .defaultColor__77578,
            .userTagUsernameBase_c9ccf6,
            .discordIcon__1e1be,
            .textarea__9daae,
            .input__0ed4f,
            .customStatus__3aa7f,
            :is(.activityProfile_c1d9fd, .activityProfileV2_c1d9fd, .activityUserPopout_c1d9fd, .activityUserPopoutV2_c1d9fd)
            :is(.activityName__2ef49, .content__2ef49, .details__2ef49, .name__2ef49, .nameNormal__2ef49, .nameWrap__2ef49),
            .themed_c8b06d .textLeft_c8b06d,
            .themed_c8b06d .textRight_c8b06d
        ) {
            color: rgb($color-background);
        }
    }

    .userProfileInner_c69a7b {
        max-height: calc(100vh - 64px - $outmost-spacing);

        &::before {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: $sidebar-spacing;
        }

        .avatarPositionPremiumBanner_f89da9 {
            left: 23px;
            top: 77px;
        }

        .buttonColor_e36233 {
            background-color: rgb($color-button);
        }
    }
}
