@use "../../top/vars" as *;

// Ctrl + T Server switcher
.input_ac6cb0 {
    border-radius: $sidebar-spacing;
}

.result_f14193 {
    border-radius: $item-spacing;

    .wrapper_cdf8a9 {
        border-radius: 10px;
    }
}
