@use "../../top/vars" as *;

// Image upload
.uploadModal_b78547 {
    overflow: visible;

    .icon_b78547 {
        border-radius: $sidebar-spacing;
    }

    .footer_b78547 {
        background-color: rgb($color-button);
        box-shadow: none;
    }
}
