@use "../../top/vars" as *;

// Full user profile
.top_aa8da2 .selected_aa8da2.themed-2-lozF.item_aa8da2,
.top_aa8da2 .themed-2-lozF.item_aa8da2:active,
.top_aa8da2 .themed-2-lozF.item_aa8da2:hover {
    border-bottom-color: rgb($color-foreground);
}

.banner__68edb {
    opacity: 70%;
}

.listRow__9d78f {
    border-radius: $item-spacing;
}
