@use "../../top/vars" as *;

// Full user profile
.top_b3f026 .selected_b3f026.themed-2-lozF.item_b3f026,
.top_b3f026 .themed-2-lozF.item_b3f026:active,
.top_b3f026 .themed-2-lozF.item_b3f026:hover {
    border-bottom-color: rgb($color-foreground);
}

.banner_c3e427 {
    opacity: 70%;
}

.listRow_e4be58 {
    border-radius: $item-spacing;
}
