@use "../../top/vars" as *;

// View message reactions
.reactionDefault_b7f4b4 {
    border-radius: $item-spacing;

    &:hover {
        background-color: var(--background-modifier-hover);
    }
}

.reactionSelected_b7f4b4 {
    border-radius: $item-spacing;
    background-color: var(--background-modifier-selected);
}

.reactors_b7f4b4 {
    background-color: transparent;

    .remove_b7f4b4 {
        background-color: var(--background-modifier-hover);
        border-radius: 50%;
        opacity: 1;
        color: rgb($color-foreground);
    }
}
