@use "../top/vars" as *;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Inter&display=swap");

// Code block
.markup__75297 code,
.textContainer__4d95d {
    background: transparentize($color-button, 0.5);
}

// Spoiler text
.spoilerMarkdownContent__299eb {
    background: transparentize($color-button, 0.5);

    &.hidden__299eb {
        @extend .spoilerMarkdownContent__299eb;

        &:hover {
            background: rgb($color-button);
        }
    }
}

// Channel/user group name
.container_cc72c1 {
    text-align: center;
}
