@use "../../../../top/vars" as *;

// Roles
#roles-tab {
    // Role items
    .container_d8f25b,
    .roleRow__5f97b {
        border-radius: $sidebar-spacing;
    }

    // Edit role page
    .page__91dc3 {
        // Role list
        .sidebar_e29cd7 {
            .titleContainer_e29cd7 {
                padding-bottom: 0;
            }

            .scrollerBase__99f8c {
                padding-top: 16px;
            }
        }

        // Role details
        .contentContainer__91dc3 {
            .header_c6bf1b {
                background: linear-gradient($color-background 92%, transparent);
                margin-left: -24px;
                padding-left: 24px;
            }

            // Tabs
            .top_aa8da2 .brand_aa8da2.item_aa8da2:active,
            .top_aa8da2 .brand_aa8da2.selected_aa8da2.item_aa8da2,
            .top_aa8da2 .brand_aa8da2.item_aa8da2:hover {
                border-bottom-color: rgb($color-foreground);
            }

            // Role icon preview
            .previewContainer__05e8e {
                background: transparentize($color-pop, 0.5);

                .preview__05e8e {
                    color: rgb($color-pop);
                }
            }

            // Role icon demo
            .previewContainer__981c8 {
                border-radius: $sidebar-spacing;
            }

            // Member with role item
            .memberRow__9a73f {
                border-radius: $item-spacing;
            }
        }
    }
}
