@use "../../../../top/vars" as *;

// Stickers
.tier_a36dee {
    border-radius: $sidebar-spacing;
    overflow: hidden;

    .tierHeaderLocked_a36dee {
        color: rgb($color-pop);
        background-color: transparentize($color-pop, 0.7);
    }

    .tierHeaderUnlocked_a36dee {
        @extend .tierHeaderLocked_a36dee;
        color: #{$color-text};
    }

    .tierBody_a36dee {
        background-color: transparentize($color-pop, 0.9);
        color: #{$color-text};
    }

    .wrapper__83b1d {
        background-color: transparentize($color-pop, 0.9);
    }
}
