@use "../../../../top/vars" as *;
@use "../../../../top/box";

// Profiles
#profile-customization-tab {
    // Preview
    .profileCustomizationPreview_ab876d {
        @include box.blue;
    }

    // User/Server Profile tabs
    .top_aa8da2 .brand_aa8da2.item_aa8da2:hover,
    .top_aa8da2 .brand_aa8da2.item_aa8da2:active,
    .top_aa8da2 .brand_aa8da2.selected_aa8da2.item_aa8da2 {
        border-bottom-color: rgb($color-foreground);
    }
}
