@use "../top/vars" as *;
@use "../top/pill";

// Channels sidebar
.sidebar_c48ade {
    margin: $sidebar-spacing 0;

    // Header
    .header_f37cb1 {
        box-shadow: none;
    }

    .clickable_f37cb1 .header_f37cb1:hover,
    .selected_f37cb1 .header_f37cb1 {
        background-color: transparent;
    }

    // New messages pill
    .unread__2ea32 {
        @include pill.unread(6px);
    }

    // Channel
    .wrapper__2ea32,
    .layout_e9f61e,
    .content_cdc675,
    .link__2ea32 {
        border-radius: $size-s;
    }

    // Self button
    .withTagAsButton_b2ca13,
    .withTagless_b2ca13 {
        border-radius: 30px;
        margin-bottom: 4px;
        margin-right: 4px;
    }
}
