@use "../top/vars" as *;
@use "../top/tint";
@use "../top/box";

// Main chat
.chatContent_f75fb0 {
    .messagesWrapper__36d07 {
        margin-bottom: 4px;

        // New messages bar
        .newMessagesBar__0f481 {
            min-height: 30px;
            top: -8px;
            background: linear-gradient(transparent, transparentize($color-blurple, 0.4) 40%, transparentize($color-blurple, 0.2));
        }

        // Jump to present bar
        .jumpToPresentBar__0f481 {
            background: linear-gradient(transparentize($color-button, 0.2), transparentize($color-button, 0.4) 60%, transparent);
        }

        // Chat message
        .messageListItem__5126c {
            margin-left: 17px;

            // Options bar
            .wrapper_f7ecac {
                @include box.orange-small;
                height: 34px;

                &::before {
                    height: 100%;
                    width: 100%;
                    @include tint.scanline-overlay();
                }
            }

            // @ Mention
            .wrapper__6c798 {
                background: transparentize($color-blurple, 0.7);
                color: rgb($color-blurple);

                &:hover {
                    background: transparentize($color-blurple, 0.3);
                    color: rgb($color-text);
                }
            }

            // Reaction
            .reaction_f8896c {
                border-radius: $item-spacing;

                &:hover {
                    border-color: rgb($color-foreground);
                }

                &.reactionMe_f8896c {
                    background-color: transparentize($color-foreground, 0.7);

                    &:not(:hover) {
                        border-color: transparent;
                    }

                    .reactionCount_f8896c {
                        color: rgb($color-foreground);
                    }

                    &:hover .reactionCount_f8896c {
                        color: var(--interactive-hover);
                    }
                }
            }

            @import "_embed";

            // Thread
            .container__9271d {
                border-radius: $item-spacing;
                background-color: transparentize($color-foreground, 0.7);
            }
        }

        // Chat dividers
        .divider__908e2 {
            border-top: none;
            background-color: rgb($color-foreground);
            height: 2px;
            border-radius: 5px;
            box-shadow: 0 0 3px 1px rgb($color-foreground);
            justify-content: center;

            // New message divider pill
            .unreadPill__908e2 {
                border-radius: $item-spacing;
                color: rgb($color-foreground);
                padding: 2px 10px;
                right: auto;
                top: -5px;
                text-transform: capitalize;
                box-shadow: 0 0 5px 1px rgb($color-foreground);

                .unreadPillCap__908e2 {
                    display: none;
                }
            }

            // Date change divider
            .content__908e2 {
                background: rgb($color-foreground);
                color: rgb($color-text);
                padding: 2px 10px;
                font-size: 10px;
                line-height: 9px;
                font-weight: 700;
                box-shadow: 0 0 5px 1px rgb($color-foreground);
            }
        }

        .group-spacing-16 .divider__5126c {
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }

    // Chat text area
    .scrollableContainer__74017 {
        @include box.orange;

        &::before {
            height: calc(100% - (2 * $sidebar-border-width));
            width: calc(100% - (2 * $sidebar-border-width));
            @include tint.scanline-overlay();
            border-radius: inherit;
        }

        // Attachments
        .channelAttachmentArea_b77158 {

            // Options bar
            .wrapper_f7ecac {
                @include box.orange-small;
                height: 34px;
            }

            // Spoiler
            .spoilerContainer__299eb {
                border-radius: $sidebar-spacing;

                .media__41ea0 {
                    border-radius: $sidebar-spacing;
                }
            }
        }
    }

    // Chat slowmode info
    .cooldownWrapper_b21699 {
        color: transparentize($color-text, 0.5) !important;
    }

    // Chat autocomplete suggestions
    .autocomplete__13533 {
        @include box.orange;
        background-color: rgb($color-background);

        &::before {
            @include tint.scanline-overlay();
            height: 100%;
            width: 100%;
        }

        // Group
        .categoryHeader_d1405b {
            background-color: rgb($color-background);
        }

        // Option
        .base__13533 {
            border-radius: $item-spacing;
        }
    }

    // Sticker suggestions
    .stickerIconOffset_d4ced7 {
        @include box.orange-small;
    }
}

// Chat input
.form_f75fb0,
.formWithLoadedChatInput_f75fb0 {
    margin: $size-m;
    margin-top: - 0.5 * $size-m;
}

.channelTextArea_f75fb0 {
    border-radius: $size-m;
}

.themedBackground__74017 {
    background: rgba(0, 0, 0, 0.3);
}