@use "../top/vars" as *;
@use "../top/pill";

// Channels sidebar
.sidebar__5e434 {
    margin: 0px;
    border: 5px solid rgb(var(--synth-color-foreground));
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(var(--synth-color-foreground)) !important;

    // Header
    .header_f37cb1 {
        box-shadow: none;
    }

    .wrapper_ef3116, .privateChannels_e6b769, .scroller__99e7c, 
    .panels__5e434, 
    .container__2637a, .chat_f75fb0, .chatContent_f75fb0, .chatGradient__36d07,
    .container_c8ffbb, .members_c8ffbb {
        background-color: transparent;
    }

    // New messages pill
    .unread__2ea32 {
        @include pill.unread(6px);
    }

    // Channel
    .wrapper__2ea32,
    .layout__91a9d,
    .content__07f91,
    .link__2ea32 {
        border-radius: $size-s;
    }

    // Self button
    .withTagAsButton_b2ca13,
    .withTagless_b2ca13 {
        border-radius: 30px;
        margin-bottom: 4px;
        margin-right: 4px;
    }
}
