@forward "./banner";
@forward "./channels";
@forward "./chat";
@forward "./embed";
@forward "./friends";
@forward "./members";
@forward "./misc";
@forward "./servers";
@forward "./title";
@forward "./titlebar";

@use "../top/vars" as *;
@use "../top/tint";
@use "../top/box";

// Base colour
.appMount__51fd7,
body {
    background-color: $color-background;
}

// Image background
.bg__960e4 {
    background: $background-image center/cover;
}

/* The big border */
.container__5e434:not(:has(.fullScreen_cb9592))::before {
    margin: 50px 0px 20px 20px;
    width: var(--custom-guild-sidebar-width);
    height: calc(100% - 80px);
    border: 5px solid rgb(var(--synth-color-foreground));
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(var(--synth-color-foreground)) !important;
    content: "";
    position: absolute;
    display: block;
    background-image: linear-gradient(rgb(var(--synth-crt-light)/0.05) 50%, rgb(var(--synth-crt-dark)/0.1) 50%);
    background-size: 100% 4px;
    z-index: 1000;
    pointer-events: none;
    animation: var(--synth-crt-flicker) 0.1s infinite alternate;
}
