@use "../top/vars" as *;
@use "../top/tint";
@use "../top/box";

// Members sidebar
.container_c8ffbb,
.container__7641b,
// User Profile in the right side of DM
.content_f75fb0 aside:has(.outer_c0bea0) {
    position: relative;
    margin: 0 $sidebar-spacing $sidebar-spacing 0;
    height: auto;
    background: transparent;
    @include box.orange;

    // MemberCount plugin
    #MemberCount {
        border-bottom: none;
    }

    // Member
    .layout__91a9d {
        border-radius: $item-spacing;
    }

    &::before {
        width: 100%;
        height: 100%;
        border-radius: calc($sidebar-spacing - $sidebar-border-width);
        @include tint.scanline-overlay();
    }
}

.member_c8ffbb {
    background: transparent;
}