@use "../top/vars" as *;
@use "../top/box";
@use "../top/pill";

// Video call
.callContainer_cb9592 {
    background: transparent;

    .gradientContainer_bfe55a {
        background-image: none;
    }
}

// Forum
.container_f369db {
    background-color: transparent;
}

// Various views
.appMount__51fd7 {

    .container__0b563,
    .container_c2efea,
    .themed__9293f,
    .emptyPage__5d7c9,
    .scrollerContainer_c6b11b,
    .pageWrapper_a3a4ce {
        background: transparent;
    }
}

// Discover servers
.categoryItem_c72b37.selectedCategoryItem_c72b37 .itemInner_c72b37 {
    background-color: var(--background-modifier-selected);
}

.pageWrapper_a3a4ce {
    background-color: transparent;

    // Search
    .searchBox__56feb {
        border-radius: $item-spacing;
        background-color: transparent;
        box-shadow: none;
    }

    .select_a16aea {
        border-radius: $item-spacing;
    }
}

// Server home
.background_c54132,
.headerBarInner_dc1a41:after {
    background: transparent;
}

// Background
.wrapper_ef3116,
.privateChannels_e6b769,
.scroller__99e7c,
.panels__5e434,
.container__2637a,
.chat_f75fb0,
.channelTextArea_f75fb0,
.chatContent_f75fb0,
.chatGradient__36d07,
.members_c8ffbb,
.theme-dark .children__9293f:after {
    background: transparent;
}

// User profile next to DM
.user-profile-sidebar,
.inner_c0bea0,
.outer_c0bea0 {
    border-radius: calc($sidebar-spacing - $sidebar-border-width);
}

.mask__68edb {
    border-top-left-radius: calc($sidebar-spacing - $sidebar-border-width);
    border-top-right-radius: calc($sidebar-spacing - $sidebar-border-width);
}