@use "../top/vars" as *;
@use "../top/box";
@use "../top/pill";

// Video call
.callContainer_cb9592 {
    background: transparent;

    .gradientContainer_bfe55a {
        background-image: none;
    }
}

// Forum
.container_f369db {
    background-color: transparent;
}

// Various views
.appMount__51fd7 {
    .container__0b563,
    .container_c2efea,
    .themed_e44302,
    .emptyPage__5d7c9,
    .scrollerContainer_c6b11b,
    .pageWrapper_a3a4ce {
        background: transparent;
    }
}

// Discover servers
.categoryItem_c72b37.selectedCategoryItem_c72b37 .itemInner_c72b37 {
    background-color: var(--background-modifier-selected);
}

.pageWrapper_a3a4ce {
    background-color: transparent;

    // Search
    .searchBox__56feb {
        border-radius: $item-spacing;
        background-color: transparent;
        box-shadow: none;
    }

    .select__3f413 {
        border-radius: $item-spacing;
    }
}

// Server home
.background_c54132,
.headerBarInner_dc1a41:after {
    background: transparent;
}
