@use "../top/vars" as *;
@use "../top/pill";
@use "../top/box";

// Servers sidebar
.guilds__5e434 {
    margin: $sidebar-spacing;
    margin-right: 0;
    @include box.orange;

    .platform-osx & .scroller_ef3116,
    .platform-win & .scroller_ef3116 {
        padding: 12px 0 4px 0;
    }

    // New messages pill
    $pill-height: 6px;

    .item__58105 {
        @include pill.unread($pill-height);
    }

    .pill_e5445c:not(.bd-selected) .item__58105 {
        height: calc(2 * $pill-height) !important;

        &[style="opacity: 1; height: 40px; transform: none;"] {
            height: 40px !important;
        }
    }

    // Add and explore buttons
    .circleIconButton__5bc7e {
        color: rgb($color-green);
    }

    .circleIconButton__5bc7e.selected__5bc7e {
        color: rgb($color-text);
    }
}
